# OCR Read 'num2' Metadata

#### Updated: May 12, 2023

#

Test post-processing a subdirectory, to first detect if the image is of 'num2' metadata type, and then to read and record that metadata.

In [62]:
import pandas as pd
import numpy as np
import os
from random import randrange
import time
import keras_ocr

In [63]:
rootDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/'
processedDir = rootDir + '04_processed/'
resultDir = rootDir + '05_result/'

In [64]:
pipeline = keras_ocr.pipeline.Pipeline()

Looking for C:\Users\rnaidoo\.keras-ocr\craft_mlt_25k.h5
Looking for C:\Users\rnaidoo\.keras-ocr\crnn_kurapan.h5

#

#### Functions:

In [65]:
def read_num2_metadata(prediction_groups, subdir_path, batch_i, img_fns):
    
    df_read = pd.DataFrame()
    df_notread = pd.DataFrame()
    for i in range(0, len(prediction_groups)):
        df_ocr = pd.DataFrame()
        predicted_image = prediction_groups[i]
        if len(predicted_image) > 0:
            for text, box in predicted_image:
                row = pd.DataFrame({
                    'number': text,
                    'x': box[1][0],
                    'y': box[1][1]
                }, index=[0])
                df_ocr = pd.concat([df_ocr, row])
            df_ocr = df_ocr.sort_values('x').reset_index(drop=True)
        
            #String concatenate, fix string
            read_str = ''
            for j in range(0, len(df_ocr)):
                read_str_ = df_ocr['number'].iloc[j]
                read_str += read_str_
            read_str = read_str.replace('o', '0')

            #Test for num2
            if len(read_str) == 15:
                if read_str[0:2] == '10':
                    row2 = pd.DataFrame({
                        'station_number_OCR': read_str[2:4],
                        'year_OCR': read_str[4:6],
                        'day_of_year_OCR': read_str[6:9],
                        'hour_OCR': read_str[9:11],
                        'minute_OCR': read_str[11:13],
                        'second_OCR': read_str[13:15],
                        'filename': img_fns[batch_i + i].replace(subdir_path, '')
                    }, index=[i])
                    df_read = pd.concat([df_read, row2])
                else:
                    df_ocr['filename'] = img_fns[batch_i + i].replace(subdir_path, '')
                    df_notread = pd.concat([df_notread, df_ocr])
            else:
                df_ocr['filename'] = img_fns[batch_i + i].replace(subdir_path, '')
                df_notread = pd.concat([df_notread, df_ocr])
    
    return df_read, df_notread

#

#### Process subdirectory:

In [76]:
#Draw random subdirectory
directory_list = os.listdir(processedDir)
directory = directory_list[randrange(len(directory_list))]
subdirectory_list = os.listdir(processedDir + directory + '/')
subdirectory = subdirectory_list[randrange(len(subdirectory_list))]
print(directory + '/' + subdirectory + '/')

R014207945/2266-13B/

In [66]:
#Manual subdirectory:
directory = 'R014207828'
subdirectory = '4396-50'

#Manual subdirectory (num):
#directory = 'R014207941'
#subdirectory = '1765-5'

In [67]:
testDir = processedDir + directory + '/' + subdirectory + '/'

In [68]:
batch_size = 8 # > 9 seems to lead to a 'dead kernel'

In [69]:
img_fns = []
for file in os.listdir(testDir):
    img_fns.append(testDir + file)
len(img_fns)

265

In [70]:
n_batches = int(np.floor(len(img_fns)/batch_size))
n_batches

33

In [71]:
batch_remainder = len(img_fns)%batch_size
batch_remainder

1

In [72]:
start = time.time()

df_read = pd.DataFrame()
df_notread = pd.DataFrame()
for i in range(0, n_batches):
    print('Starting batch... ' + str(i))
    batch_i = i*batch_size
    batch_f = batch_i + batch_size
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_, df_notread_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir, batch_i=batch_i, 
                                               img_fns=img_fns)
    df_read = pd.concat([df_read, df_read_])
    df_notread = pd.concat([df_notread, df_notread_])
    
#Remainder
print('Finishing up...')
if batch_remainder > 0:
    batch_i = n_batches*batch_size
    batch_f = batch_i + batch_remainder
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_, df_notread_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir, batch_i=batch_i, 
                                              img_fns=img_fns)
    df_read = pd.concat([df_read, df_read_])
    df_notread = pd.concat([df_notread, df_notread_])
     
end = time.time()
t = end - start
print('Time to OCR read all images in subdirectory: ' + str(round(t/60, 1)) + ' min')

Starting batch... 0
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 3s 257ms/step
Starting batch... 1
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 358ms/step
Starting batch... 2
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 385ms/step
Starting batch... 3
1/1 [==============================] - 23s 23s/step
2/2 [==============================] - 1s 388ms/step
Starting batch... 4
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 382ms/step
Starting batch... 5
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 251ms/step
Starting batch... 6
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 377ms/step
Starting batch... 7
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 463ms/step
Starting batch... 8
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 436ms/step
Starting batch... 9
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 396ms/step
Starting batch... 10
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 407ms/step
Starting batch... 11
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 382ms/step
Starting batch... 12
1/1 [==============================] - 25s 25s/step
2/2 [==============================] - 1s 408ms/step
Starting batch... 13
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 295ms/step
Starting batch... 14
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 415ms/step
Starting batch... 15
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 383ms/step
Starting batch... 16
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 375ms/step
Starting batch... 17
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 446ms/step
Starting batch... 18
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 437ms/step
Starting batch... 19
1/1 [==============================] - 38s 38s/step
2/2 [==============================] - 1s 466ms/step
Starting batch... 20
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 365ms/step
Starting batch... 21
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 489ms/step
Starting batch... 22
1/1 [==============================] - 25s 25s/step
2/2 [==============================] - 1s 412ms/step
Starting batch... 23
1/1 [==============================] - 31s 31s/step
1/1 [==============================] - 1s 592ms/step
Starting batch... 24
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 387ms/step
Starting batch... 25
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 312ms/step
Starting batch... 26
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 332ms/step
Starting batch... 27
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 380ms/step
Starting batch... 28
1/1 [==============================] - 24s 24s/step
2/2 [==============================] - 1s 309ms/step
Starting batch... 29
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 357ms/step
Starting batch... 30
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 408ms/step
Starting batch... 31
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 368ms/step
Starting batch... 32
1/1 [==============================] - 30s 30s/step
2/2 [==============================] - 1s 422ms/step
Finishing up...
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 176ms/step
Time to OCR read all images in subdirectory: 13.9 min

In [73]:
print(len(df_read))
df_read.head(30)

6

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
3,50,68,lda,00,z5,08,109.png
0,s0,68,l0a,00,38,18,120.png
0,50,68,s0z,la,an,00,15.png
1,s0,68,10n,50,mz,18,172.png
3,s0,68,100,50,nz,ss,189.png
5,50,68,0s1,31,36,2l,81.png

In [74]:
print(len(df_notread))
df_notread.head(30)

1581

  number            x           y filename
0      e   240.609375  203.906250    1.png
1     se   398.296875  221.578125    1.png
0      e   372.312500  815.445312   10.png
1      o   412.781250  813.421875   10.png
2     s0   528.117188  807.351562   10.png
3    618   650.931946  805.786499   10.png
4    coz   813.421875  809.375000   10.png
5    lat  1009.695312  809.375000   10.png
6     3a  1138.518921  810.084839   10.png
0      o   395.539062  813.164062  100.png
1     so   515.582214  811.636902  100.png
2     68   639.776672  801.577454  100.png
3    tos   793.085938  811.156250  100.png
4   ooez   995.494141  807.590759  100.png
5     38  1116.343750  809.148438  100.png
0     on   270.687500  813.968750  101.png
1     50   379.343750  808.250000  101.png
2    616   500.335175  806.182922  101.png
3   ieos   663.375000  812.062500  101.png
4   ooez   867.343750  810.156250  101.png
5     50   993.156250  800.625000  101.png
0     so   317.234375  813.164062  102.png
1     so   437.248352  811.766296  102.png
2     68   557.567261  805.692993  102.png
3    tot   728.460449  797.622314  102.png
4   ooz5   927.609375  809.148438  102.png
5     01  1046.070312  811.156250  102.png
0     to   521.609375  808.390625  103.png
1     sd   641.601746  810.857483  103.png
2     68   762.195068  805.089417  103.png

#

#### Integrate OCR read metadata into existing results data for subdirectory:

In [75]:
df_result = pd.read_csv(resultDir + directory + '/' + 'result-' + directory + '_' + subdirectory + '.csv')
#Change 'Roll' to 'Directory':
df_result = df_result.rename(columns={
    'Roll': 'Directory'
})
print(len(df_result))
df_result.head()

265

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,is_dot,dict_metadata,raw_coord,window_coord,mapping_Hz,mapping_km,details,Directory,Subdirectory,filename
0,1.935484,1404.0,4.0,4.0,3.0,5.0,1.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207828,4396-50,10.png
1,1.596774,1404.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207828,4396-50,100.png
2,1.516129,1404.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207828,4396-50,101.png
3,1.520161,1404.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207828,4396-50,102.png
4,1.629032,1404.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207828,4396-50,103.png

In [76]:
df_result.columns

Index(['fmin', 'max_depth', 'satellite_number', 'year', 'day_1', 'day_2',
       'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1',
       'second_2', 'station_number_1', 'station_number_2',
       'processed_image_class', 'func_name', 'limits', 'height', 'width',
       'metadata_type', 'meta_height', 'meta_width', 'x_centroids',
       'y_centroids', 'is_dot', 'dict_metadata', 'raw_coord', 'window_coord',
       'mapping_Hz', 'mapping_km', 'details', 'Directory', 'Subdirectory',
       'filename'],
      dtype='object')

In [77]:
if len(df_result) > 0:
    if len(df_read) > 0:
        df_merge = df_result.merge(df_read, how='left', on='filename')
        for i in range(0, len(df_merge)):
            if df_merge['processed_image_class'].iloc[i] != 'loss':
                if df_merge['processed_image_class'].iloc[i] != 'outlier':
                    if pd.isna(df_merge['day_of_year_OCR'].iloc[i]) == False:
                        df_merge['processed_image_class'].iloc[i] = 'num2'
        #df_merge.loc[~pd.isna(df_merge['day_of_year_OCR']), 'processed_image_class'] = 'num2'
        #df_merge.loc[df_merge['day_of_year_OCR'] > 0, 'processed_image_class'] = 'num2'
    else:
        df_merge = df_result
else:
    df_merge = df_result
    
print(len(df_merge))
df_merge.sample(10)

265

C:\Users\rnaidoo\AppData\Local\Temp\ipykernel_11912\2187510041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['processed_image_class'].iloc[i] = 'num2'

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,details,Directory,Subdirectory,filename,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR
98,1.500000,1404.0,2.0,1.0,3.0,2.0,3.0,1.0,0.0,5.0,...,NaN,R014207828,4396-50,191.png,NaN,NaN,NaN,NaN,NaN,NaN
171,1.500000,1404.0,2.0,1.0,1.0,1.0,0.0,2.0,0.0,1.0,...,NaN,R014207828,4396-50,31.png,NaN,NaN,NaN,NaN,NaN,NaN
221,1.971774,1354.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,...,NaN,R014207828,4396-50,79.png,NaN,NaN,NaN,NaN,NaN,NaN
113,1.935484,1404.0,2.0,3.0,3.0,4.0,1.0,4.0,0.0,1.0,...,NaN,R014207828,4396-50,205.png,NaN,NaN,NaN,NaN,NaN,NaN
184,1.500000,1404.0,3.0,1.0,2.0,2.0,1.0,2.0,4.0,3.0,...,NaN,R014207828,4396-50,43.png,NaN,NaN,NaN,NaN,NaN,NaN
137,1.612903,1404.0,3.0,2.0,2.0,1.0,1.0,3.0,3.0,2.0,...,NaN,R014207828,4396-50,227.png,NaN,NaN,NaN,NaN,NaN,NaN
38,1.500000,1404.0,1.0,1.0,2.0,1.0,0.0,2.0,2.0,0.0,...,NaN,R014207828,4396-50,136.png,NaN,NaN,NaN,NaN,NaN,NaN
162,1.528226,1254.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,R014207828,4396-50,254.png,NaN,NaN,NaN,NaN,NaN,NaN
25,1.500000,1404.0,4.0,1.0,2.0,3.0,3.0,3.0,1.0,2.0,...,NaN,R014207828,4396-50,122.png,NaN,NaN,NaN,NaN,NaN,NaN
92,1.500000,1404.0,1.0,1.0,2.0,1.0,0.0,2.0,2.0,0.0,...,NaN,R014207828,4396-50,185.png,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
#df_merge[['day_of_year_OCR', 'processed_image_class']].sample(10)

Classify rows with OCR letters read as 'loss' and clear metadata:

In [79]:
OCR_cols = ['station_number_OCR', 'year_OCR', 'day_of_year_OCR', 'hour_OCR', 'minute_OCR', 'second_OCR']
md_cols = ['satellite_number', 'year', 'day_1', 'day_2', 'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1', 
           'second_2', 'station_number_1', 'station_number_2']

In [80]:
if len(df_read) > 0:
    for col in OCR_cols:
        df_merge[col] = df_merge[col].astype('string')
        df_merge.loc[df_merge[col].str.contains("[a-zA-Z]"), 'processed_image_class'] = 'loss'
        df_merge.loc[df_merge[col].str.contains("[a-zA-Z]"), 'details'] = 'OCR read metadata contains letters'

In [81]:
n_OCR_read = 0
for i in range(0, len(df_merge)):
    if df_merge['processed_image_class'].iloc[i] == 'loss':
        if df_merge['details'].iloc[i] == 'OCR read metadata contains letters':
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan
    elif df_merge['processed_image_class'].iloc[i] == 'num2':
        for col in md_cols:
            df_merge[col].iloc[i] = np.nan
        n_OCR_read += 1

C:\Users\rnaidoo\AppData\Local\Temp\ipykernel_11912\2746242759.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge[col].iloc[i] = np.nan

In [82]:
df_merge.loc[df_merge['processed_image_class'] == 'num']

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,details,Directory,Subdirectory,filename,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR
0,1.935484,1404.0,4.0,4.0,3.0,5.0,1.0,2.0,2.0,1.0,...,NaN,R014207828,4396-50,10.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1.596774,1404.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,...,NaN,R014207828,4396-50,100.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1.516129,1404.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,R014207828,4396-50,101.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1.520161,1404.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,0.0,...,NaN,R014207828,4396-50,102.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1.629032,1404.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0,1.0,...,NaN,R014207828,4396-50,103.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,1.600806,1354.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,...,NaN,R014207828,4396-50,94.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
239,1.500000,1404.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,...,NaN,R014207828,4396-50,96.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
240,2.024194,1354.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,R014207828,4396-50,97.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
241,1.681452,1404.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,NaN,R014207828,4396-50,98.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
242,1.629032,1354.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,0.0,...,NaN,R014207828,4396-50,99.png,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

If num2 metadata type is detected, classify images with all other metadata types as loss:

#### Assumption: film rolls are unlikely to have mixed metadata - assume that if num2 metadata type is detected, that there is no other images on the film roll with other types of metadata.

In [83]:
if len(df_read) > 0:
    for i in range(0, len(df_merge)):
        if df_merge['processed_image_class'].iloc[i] == 'num':
            df_merge['processed_image_class'].iloc[i] = 'loss'
            df_merge['details'].iloc[i] = 'metadata could not be read by OCR'
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan
        if df_merge['processed_image_class'].iloc[i] == 'dot':
            df_merge['processed_image_class'].iloc[i] = 'loss'
            df_merge['details'].iloc[i] = 'metadata could not be read by OCR'
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan

C:\Users\rnaidoo\AppData\Local\Temp\ipykernel_11912\799099438.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['processed_image_class'].iloc[i] = 'loss'
C:\Users\rnaidoo\AppData\Local\Temp\ipykernel_11912\799099438.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge['details'].iloc[i] = 'metadata could not be read by OCR'
C:\Users\rnaidoo\AppData\Local\Temp\ipykernel_11912\799099438.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge[col].iloc[i] = np.nan

In [84]:
df_merge.loc[df_merge['processed_image_class'] == 'num']

Empty DataFrame
Columns: [fmin, max_depth, satellite_number, year, day_1, day_2, day_3, hour_1, hour_2, minute_1, minute_2, second_1, second_2, station_number_1, station_number_2, processed_image_class, func_name, limits, height, width, metadata_type, meta_height, meta_width, x_centroids, y_centroids, is_dot, dict_metadata, raw_coord, window_coord, mapping_Hz, mapping_km, details, Directory, Subdirectory, filename, station_number_OCR, year_OCR, day_of_year_OCR, hour_OCR, minute_OCR, second_OCR]
Index: []

[0 rows x 41 columns]

In [85]:
if n_OCR_read > 0:
    print('Percent of OCR read images that read only numbers, for test subdirectory: ' + str(round((n_OCR_read/len(df_read))*100, 1)) + ' %')

#### If num2 metadata type is not detected:

In [86]:
if len(df_read) == 0:
    n_num = len(df_merge.loc[df_merge['processed_image_class'] == 'num'])
    n_dot = len(df_merge.loc[df_merge['processed_image_class'] == 'dot'])

In [87]:
n_num

NameError: name 'n_num' is not defined

In [88]:
n_dot

NameError: name 'n_dot' is not defined

If num type metadata is the majority, classify dot type images as loss:

In [89]:
if n_num > n_dot:
    for i in range(0, len(df_merge)):
        if df_merge['processed_image_class'].iloc[i] == 'dot':
            df_merge['processed_image_class'].iloc[i] = 'loss'
            df_merge['details'].iloc[i] = 'metadata was interpreted to be dot type'
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan

NameError: name 'n_num' is not defined

If dot type metadata is the majority, classify num type images as loss:

In [90]:
if n_dot > n_num:
    for i in range(0, len(df_merge)):
        if df_merge['processed_image_class'].iloc[i] == 'num':
            df_merge['processed_image_class'].iloc[i] = 'loss'
            df_merge['details'].iloc[i] = 'metadata was interpreted to be num type'
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan

NameError: name 'n_dot' is not defined

#

#### Save:

In [91]:
df_merge.to_csv(resultDir + directory + '/' + 'result_OCRpass-' + directory + '_' + subdirectory + '.csv', index=False)

#

#### Development:

In [4]:
a = np.nan

In [5]:
b = 265

In [6]:
~np.isnan(a)

False

In [11]:
~pd.isna(a)

-2

In [15]:
pd.isna(a)

True

In [7]:
~np.isnan(b)

True

In [12]:
~pd.isna(b)

-1

In [16]:
pd.isna(b)

False

In [8]:
a + b

nan

In [17]:
if ~pd.isna(b):
    print('b is not NaN!')

b is not NaN!

In [18]:
if pd.isna(a):
    print('a is NaN!')

a is NaN!