# Image Inventory BATCH II

#### Updated: Mar 1, 2023

#

Produce Image Inventory for BATCH II Alouette I data. Account for a remove data that is associated with Alouette II.

In [1]:
import pandas as pd
import os

In [2]:
dataDir = 'L:/DATA/Alouette_I/BATCH_II_raw_ftp/'
logDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/06_log/'

#

#### Produce image_inventory:

In [3]:
df_inventory = pd.DataFrame()
for roll in os.listdir(dataDir):
    print(roll)
    for subdirectory in os.listdir(dataDir + roll):
        n_images = len(os.listdir(dataDir + roll + '/' + subdirectory))
        df_inventory_ = pd.DataFrame({
            'Roll': roll, 
            'Subdirectory': subdirectory,
            'images': n_images,
            'subdir_id': roll + '_' + subdirectory
        }, index=[0])
        df_inventory = pd.concat([df_inventory, df_inventory_], axis=0, ignore_index=True)

R014207709
R014207711
R014207763
R014207766
R014207769
R014207807
R014207808
R014207810
R014207811
R014207813
R014207817
R014207818
R014207819
R014207820
R014207822
R014207825

In [4]:
print(len(df_inventory))
df_inventory.head()

927

         Roll Subdirectory  images       subdir_id
0  R014207709          145      53  R014207709_145
1  R014207709          146      63  R014207709_146
2  R014207709          147      50  R014207709_147
3  R014207709          148      16  R014207709_148
4  R014207709          149      28  R014207709_149

Remove data associated with Alouette II:

In [5]:
roll_remove = 'R015954001'
subdirs_remove = ['B1-8-B', 'B1-34-2', 'B1-34-2', 'B2-8-B', 'B3-15-B', 'B4-15-B', 'B5-50-B', 'B6-50-B', 'B7-50-B', 
                  'B8-50-B', 'B010-5-B', 'B011-37-B', 'B012-16-B', 'B013-53-B', 'B014-3-B', 'B015-14-B', 'B016-21-B',
                  'B018-50-B', 'B019-50-B', 'B020-50-B', 'B021-50-B', 'B022-50-B', 'B023-8-3', 'B024-8-B', 'B025-B-15', 
                  'B026-21', 'B027-38-B']

In [6]:
df_inv2 = df_inventory.copy(deep=True)
for subdir_remove in subdirs_remove:
    df_inv2 = df_inv2.loc[df_inv2.subdir_id != roll_remove + '_' + subdir_remove]

In [7]:
print(len(df_inv2))
df_inv2.head()

927

         Roll Subdirectory  images       subdir_id
0  R014207709          145      53  R014207709_145
1  R014207709          146      63  R014207709_146
2  R014207709          147      50  R014207709_147
3  R014207709          148      16  R014207709_148
4  R014207709          149      28  R014207709_149

Save:

In [8]:
df_inv2.to_csv(logDir + 'image_inventory.csv', index=False)

Analyze:

In [9]:
print('There are ' + str(len(df_inv2)) + ' subdirectories.')

df1 = pd.DataFrame()
for roll in df_inv2['Roll'].unique():
    df_roll = df_inv2.loc[df_inv2['Roll'] == roll] 
    df1_ = pd.DataFrame({
        'Roll': roll,
        'n_subdirs': len(df_roll)
    }, index=[0])
    df1 = pd.concat([df1, df1_], ignore_index=True)
mean = df1['n_subdirs'].mean()
std_dev = df1['n_subdirs'].std()
print('There are on average ' + str(round(mean,0)) + ' +/- ' + str(round(std_dev,0)) + ' subdirectories in each roll.')

mean = df_inv2['images'].mean()
std_dev = df_inv2['images'].std()
print('There are on average ' + str(round(mean,0)) + ' +/- ' + str(round(std_dev,0)) + ' images in each subdirectory.')

There are 927 subdirectories.
There are on average 58.0 +/- 7.0 subdirectories in each roll.
There are on average 306.0 +/- 112.0 images in each subdirectory.