# OCR Read 'num2' Metadata

#### Updated: Apr 23, 2023

#

Test post-processing a subdirectory, to first detect if the image is of 'num2' metadata type, and then to read and record "that metadata.

In [1]:
import pandas as pd
import numpy as np
import os
from random import randrange
import time
import keras_ocr

In [2]:
rootDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/'
processedDir = rootDir + '04_processed/'
resultDir = rootDir + '05_result/'

In [3]:
pipeline = keras_ocr.pipeline.Pipeline()

Looking for C:\Users\rnaidoo\.keras-ocr\craft_mlt_25k.h5
Looking for C:\Users\rnaidoo\.keras-ocr\crnn_kurapan.h5

#

#### Functions:

In [4]:
def read_num2_metadata(prediction_groups, subdir_path):
    
    df_read = pd.DataFrame()
    for i in range(0, len(prediction_groups)):
        df_ocr = pd.DataFrame()
        predicted_image = prediction_groups[i]
        if len(predicted_image) > 0:
            for text, box in predicted_image:
                row = pd.DataFrame({
                    'number': text,
                    'x': box[1][0],
                    'y': box[1][1]
                }, index=[0])
                df_ocr = pd.concat([df_ocr, row])
            df_ocr = df_ocr.sort_values('x').reset_index(drop=True)
        if len(df_ocr) == 6:
            if df_ocr['number'].iloc[0] == '10':
                row2 = pd.DataFrame({
                    'station_number_OCR': df_ocr['number'].iloc[1],
                    'year_OCR': df_ocr['number'].iloc[2],
                    'day_of_year_OCR': df_ocr['number'].iloc[3],
                    'hour_OCR': df_ocr['number'].iloc[4][0:2],
                    'minute_OCR': df_ocr['number'].iloc[4][2:],
                    'second_OCR': df_ocr['number'].iloc[5],
                    'filename': img_fns[batch_i + i].replace(subdir_path, '')
                }, index=[i])
                df_read = pd.concat([df_read, row2])
    
    return df_read

#

#### Process subdirectory:

In [51]:
#Draw random subdirectory
directory_list = os.listdir(processedDir)
directory = directory_list[randrange(len(directory_list))]
subdirectory_list = os.listdir(processedDir + directory + '/')
subdirectory = subdirectory_list[randrange(len(subdirectory_list))]
print(directory + '/' + subdirectory + '/')

R014207830/3727-19A/

In [ ]:
#Manual subdirectory:
directory = 'R014207830'
subdirectory = '3727-19A'

'''#Manual subdirectory (dot, BATCH I):
directory = ''
subdirectory = '' '''

In [ ]:
testDir = processedDir + directory + '/' + subdirectory + '/'

In [ ]:
batch_size = 8 # > 9 seems to lead to a 'dead kernel'

In [ ]:
img_fns = []
for file in os.listdir(testDir):
    img_fns.append(testDir + file)
len(img_fns)

In [55]:
n_batches = int(np.floor(len(img_fns)/batch_size))
n_batches

38

In [56]:
batch_remainder = len(img_fns)%batch_size
batch_remainder

3

In [ ]:
start = time.time()

df_read = pd.DataFrame()
for i in range(0, n_batches):
    print('Starting batch... ' + str(i))
    batch_i = i*batch_size
    batch_f = batch_i + batch_size
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
    df_read = pd.concat([df_read, df_read_])
    
#Remainder
print('Finishing up...')
if batch_remainder > 0:
    batch_i = n_batches*batch_size
    batch_f = batch_i + batch_remainder
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
    df_read = pd.concat([df_read, df_read_])
     
end = time.time()
t = end - start
print('Time to OCR read all images in subdirectory: ' + str(round(t/60, 1)) + ' min')

Starting batch... 0
1/1 [==============================] - 36s 36s/step
2/2 [==============================] - 1s 332ms/step
Starting batch... 1
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 545ms/step
Starting batch... 2
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 612ms/step
Starting batch... 3
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 507ms/step
Starting batch... 4
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 589ms/step
Starting batch... 5
1/1 [==============================] - 37s 37s/step
2/2 [==============================] - 1s 467ms/step
Starting batch... 6
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 619ms/step
Starting batch... 7
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 1s 533ms/step
Starting batch... 8
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 2s 661ms/step
Starting batch... 9
1/1 [==============================] - 38s 38s/step
2/2 [==============================] - 1s 573ms/step
Starting batch... 10
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 2s 675ms/step
Starting batch... 11
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 1s 557ms/step
Starting batch... 12
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 613ms/step
Starting batch... 13
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 580ms/step
Starting batch... 14
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 1s 477ms/step
Starting batch... 15
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 2s 710ms/step
Starting batch... 16
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 462ms/step
Starting batch... 17
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 550ms/step
Starting batch... 18
1/1 [==============================] - 36s 36s/step
2/2 [==============================] - 1s 499ms/step
Starting batch... 19
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 530ms/step
Starting batch... 20
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 568ms/step
Starting batch... 21
1/1 [==============================] - 28s 28s/step
2/2 [==============================] - 1s 524ms/step
Starting batch... 22
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 604ms/step
Starting batch... 23
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 466ms/step
Starting batch... 24
1/1 [==============================] - 25s 25s/step
2/2 [==============================] - 1s 547ms/step
Starting batch... 25
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 558ms/step
Starting batch... 26
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 586ms/step
Starting batch... 27
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 627ms/step
Starting batch... 28
1/1 [==============================] - 26s 26s/step
2/2 [==============================] - 1s 418ms/step
Starting batch... 29
1/1 [==============================] - 27s 27s/step
2/2 [==============================] - 1s 451ms/step
Starting batch... 30

In [ ]:
print(len(df_read))
df_read.head(30)

#

#### Integrate OCR read metadata into existing results data for subdirectory:

In [39]:
df_result = pd.read_csv(resultDir + directory + '/' + 'result-' + directory + '_' + subdirectory + '.csv')
#Change 'Roll' to 'Directory':
df_result.rename(columns={
    'Roll': 'Directory'
})
print(len(df_result))
df_result.head()

290

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,limits,height,width,metadata_type,meta_height,meta_width,details,Directory,Subdirectory,filename
0,1.608871,1266.037736,4.0,2.0,2.0,1.0,0.0,0.0,5.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,10.png
1,1.697581,1266.037736,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,100.png
2,1.504032,1124.528302,6.0,2.0,2.0,2.0,0.0,1.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,101.png
3,1.504032,1313.207547,1.0,6.0,2.0,2.0,2.0,1.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,104.png
4,1.500000,1171.698113,1.0,4.0,2.0,2.0,2.0,1.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,105.png

In [40]:
df_result.columns

Index(['fmin', 'max_depth', 'satellite_number', 'year', 'day_1', 'day_2',
       'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1',
       'second_2', 'station_number_1', 'station_number_2',
       'processed_image_class', 'func_name', 'limits', 'height', 'width',
       'metadata_type', 'meta_height', 'meta_width', 'details', 'Directory',
       'Subdirectory', 'filename'],
      dtype='object')

In [41]:
if len(df_result) > 0:
    if len(df_read) > 0:
        df_read['day_of_year_OCR'] = df_read['day_of_year_OCR'].astype('int')
        df_merge = df_result.merge(df_read, how='left', on='filename')
        df_merge.loc[df_merge['day_of_year_OCR'] > 0, 'processed_image_class'] = 'num2'
    else:
        df_merge = df_result
else:
    df_merge = df_result
    
print(len(df_merge))
df_merge.sample(10)

290

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,limits,height,width,metadata_type,meta_height,meta_width,details,Directory,Subdirectory,filename
278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"height: 650,width: 132",R014207944,2023-13B,198.png
141,1.673387,1266.037736,1.0,4.0,2.0,2.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,24.png
226,1.645161,1171.698113,1.0,4.0,2.0,2.0,2.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,65.png
160,1.620968,1313.207547,1.0,4.0,2.0,2.0,4.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,257.png
115,1.608871,1360.377358,1.0,4.0,2.0,2.0,3.0,0.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,215.png
154,1.625000,1313.207547,1.0,4.0,2.0,2.0,4.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,251.png
65,1.697581,1171.698113,4.0,2.0,2.0,2.0,1.0,2.0,3.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,164.png
262,1.540323,1218.867925,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,98.png
131,1.608871,1124.528302,1.0,4.0,2.0,2.0,4.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,230.png
204,1.560484,1407.547170,1.0,4.0,2.0,2.0,1.0,1.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,43.png

Classify rows with OCR letters read as 'loss' and clear metadata:

In [42]:
OCR_cols = ['station_number_OCR', 'year_OCR', 'day_of_year_OCR', 'hour_OCR', 'minute_OCR', 'second_OCR']
md_cols = ['satellite_number', 'year', 'day_1', 'day_2', 'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1', 
           'second_2', 'station_number_1', 'station_number_2']

In [44]:
if len(df_read) > 0:
    for col in OCR_cols:
        df_merge.loc[df_merge[col].str.contains("[a-zA-Z]"), 'processed_image_class'] = 'loss'
        df_merge.loc[df_merge[col].str.contains("[a-zA-Z]"), 'details'] = 'OCR read metadata contains letters'

In [46]:
n_OCR_read = 0
for i in range(0, len(df_merge)):
    if df_merge['processed_image_class'].iloc[i] == 'loss':
        if df_merge['details'].iloc[i] == 'OCR read metadata contains letters':
            for col in md_cols:
                df_merge[col].iloc[i] = np.nan
    elif df_merge['processed_image_class'].iloc[i] == 'num2':
        for col in md_cols:
            df_merge[col].iloc[i] = np.nan
        n_OCR_read += 1

In [47]:
df_merge.loc[df_merge['processed_image_class'] == 'num']

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,limits,height,width,metadata_type,meta_height,meta_width,details,Directory,Subdirectory,filename
0,1.608871,1266.037736,4.0,2.0,2.0,1.0,0.0,0.0,5.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,10.png
1,1.697581,1266.037736,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,100.png
2,1.504032,1124.528302,6.0,2.0,2.0,2.0,0.0,1.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,101.png
3,1.504032,1313.207547,1.0,6.0,2.0,2.0,2.0,1.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,104.png
4,1.500000,1171.698113,1.0,4.0,2.0,2.0,2.0,1.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,105.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,1.701613,1313.207547,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,95.png
260,1.620968,1266.037736,4.0,2.0,2.0,2.0,0.0,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,96.png
261,1.681452,1313.207547,4.0,2.0,2.0,2.0,0.0,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,97.png
262,1.540323,1218.867925,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,98.png
263,1.620968,1266.037736,1.0,4.0,2.0,2.0,2.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207944,2023-13B,99.png

In [49]:
if n_OCR_read > 0:
    print('Percent of OCR read images that read only numbers, for test subdirectory: ' + str(round((n_OCR_read/len(df_read))*100, 1)) + ' %')

#### Construct timestamp:

#

Save:

In [50]:
df_merge.to_csv(resultDir + directory + '/' + 'result_OCRpass-' + directory + '_' + subdirectory + '.csv', index=False)